<!-- templates/contactus/email.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
<br><br><br>
<body>
{% comment %} Need to figure out reCapture {% endcomment %}

<h1>Contact Us</h1>
<br>
<div class="form-group">
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {% comment %} <div class="g-recaptcha" data-sitekey=settings.GOOGLE_RECAPTCHA_SECRET_KEY></div> {% endcomment %}
      <div class="form-actions">
        <button class="btn btn-primary"type="submit">Submit</button>
      </div>
  </form>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="container">
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
      <h4 class="text-success">{{ message }}</h4></li>
    </div>

    {% endfor %}
</ul>
{% endif %}
{% comment %} js {% endcomment %}
{% comment %} <script src='https://www.google.com/recaptcha/api.js'></script> {% endcomment %}

</body>
{% endblock content %}
