{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% block extra_head_tags %}
<title>Privacy | Taste Tours Tokyo</title>
<meta name="description" content="Details of our privacy policy can be found
here. If you still have questions, please use the contact us form">
{% endblock %}

<div class="container privacy-policy">
    <div class="wrapper">
        <div class="template">
            <h1>Privacy Policy</h1>
            <div class="template_content">
                <dl>
                    <div class="pp-img-container">
                        <p>While using the services offered by Taste Tours Ltd, we will only ever request the minimum amount of personal information to deliver our services or improve upon such services and will NEVER sell personal information to a 3rd party. Bookings are processed and hosted via Pretix.eu and a Data Processing Agreement between our companies is in place. Payments are processed via Stripe and no sensitive payment informaton (such as credit card numbers) are shared with Taste Tours Ltd. Please refer to the Stripe Privacy Terms (https://stripe.com/us/privacy)</p>
                    </div>
                    <hr>
                    <dt><h3>What constitutes “personal information”</h3></dt>
                    <dd>
                        <p>Within this policy, “personal information” refers to information that can be used to identify an individual including the individual’s email and/or cellphone e-mail address(es), and given name. Including any contact directly with Taste Tours Ltd.</p>
                    </dd>
                    <hr>
                    <dt><h3>How personal information is managed</h3></dt>
                    <dd>
                        <p>We at Taste Tours Ltd recognize both the importance of personal data and the need to ensure its security. This is why we carefully manage any personal data we obtain by taking every precaution against unauthorized access, alteration, leakage, loss, and/or destruction. However, in the event of a data breech, we will endevour to quickly notify our customers to minimize any potential impact caused.</p>
                    </dd>
                    <hr>
                    <dt><h3>How we collect personal information</h3></dt>
                    <dd>
                        <p>When you use Taste Tours Ltd services, or make a purchase from a site run by Taste Tours Ltd, it may be necessary for you to provide personal information such as your name, email address (minimum required) and cell/mobile number. You may also be asked to fill out a survey that may require other personally identifiable information. Please be advised that it may not be possible to use Taste Tours Ltd services should you wish to decline to provide the "minumum required" information.</p>
                        <p>Upon entering an online booking users are requested to review and confirm the terms and conditions in the "Confirmations" section. By checking the box a user is providing consent to the processing of the personal information provided in the booking.</p>
                    </dd>
                    <hr>
                    <dt><h3>How personal information is used</h3></dt>
                    <dd>
                        <p>The main uses are as follows:</p>
                    </dd>
                    <dt><span>Personal information from customers</span></dt>
                    <dd>
                        <ul>
                            <li>To provide user with products, services, or support;</li>
                            <li>To send recommendations for other Taste Tours Ltd products or services.</li>
                            <li>To respond to inquires or requests;</li>
                            <li>To aggregated personal information in a statistical format so that no personal identifiers remain for the purpose of analysis for business affairs such as the creation of new services and etc.</li>
                        </ul>
                    </dd>
                    <dt><span>Personal information from 3rd Party Service providers</span></dt>
                    <dd>
                        <ul>
                            <li>To contact regarding business discussions or meetings;</li>
                            <li>To exchange information with the contact person for the transaction;</li>
                            <li>To start work commissioned by the 3rd Party Service providers; and</li>
                            <li>To pay or send an invoice for payment.</li>
                        </ul>
                    </dd>
                    <dt><span>Personal information from prospective employees</span></dt>
                    <dd>
                        <p>The handling of personal information received from prospective employees during the application and screening stages of the employment process are as follows. Except in cases specified by law, we will notify and obtain permission from the applicant before using this personal information for any additional purposes.
                        </p>
                        <ul>
                            <li>To screen job applicants; and</li>
                            <li>To send and receive information about the selection process.</li>
                        </ul>
                    </dd>
                    <dt><span>Personal information from individuals who visit our company in person</span></dt>
                    <dd>
                        <ul>
                          <li>To ensure the security and safety of our company and employees</li>
                        </ul>
                    </dd>
                    <dt><span>Purpose of use of personal information from the families of employees</span></dt>
                    <dd>
                        <p>Personal information:</p>
                        <ul>
                            <li>For the purpose of social security / welfare programs; and</li>
                            <li>For the purpose of contacting family members in the event of an accident, etc.</li>
                        </ul>
                        <p>Specific personal information:</p>
                        <ul>
                            <li>For creating statements of earnings (源泉徴収票) for earned income and retirement income;</li>
                            <li>For the purpose enrolling a spouse under Category III in the National Pension; and</li>
                            <li>For enrolling in national health insurance.</li>
                        </ul>
                    </dd>
                    <hr>
                    <dt><h3>Regarding individuals under the age of eighteen</h3></dt>
                    <dd>
                        <p>We request that all individuals under the age of eighteen obtain permission from their parent(s) or guardian(s) before using our services. Please be advised that if you do not provide us with certain personal information or if you falsify said information, you may be unable to use our services.</p>
                    </dd>
                    <hr>
                    <dt><h3>Regarding the retention period and usage period of personal information</h3></dt>
                    <dd>
                        <p>We will control and safeguard the personal information we collect from you for the duration that you use our services. It is held in an encripted format on Pretix.eu servers held in the EU. You can make requests for disclosure regarding this information; however, we will only disclose information after confirming your identity in order to prevent the leaking of personal information to 3rd parties.</p>
                        <p>We will delete or correct personal data upon request provided that we can confirm your identity.</p>
                    </dd>
                    <hr>
                    <dt><h3>Regarding cookies</h3></dt>
                    <dd>
                        <p>Cookies are small data text files that can be stored in your web browser. By enabling cookies, any preferences that you may have set and so on will be saved.</p>
                    </dd>
                    <hr>
                    <dt><h3>Regarding SSL (Secure Sockets Layer)</h3></dt>
                    <dd>
                        <p>In order to protect your personal information, this website supports SSL (Secure Sockets Layer). When you use a web browser that supports a security function such as Chrome, Microsoft Internet Explorer, etc., personal data such as your name, or cell / mobile number is automatically encrypted before transmission.</p>
                    </dd>
                    <hr>
                    <dt><h3>Personal Information Management</h3></dt>
                    <dd>
                        <p>Taste Tours Ltd takes every possible precaution to prevent unauthorized access of our network and access to our management server from outside our network. Along with ensuring the safety of your personal information, we take appropriate measures to maintain the accuracy of these precautions when transmitting personal information.</p>
                    </dd>
                    <hr>
                    <dt><h3>Additional information</h3></dt>
                    <dd>
                        <p>Please be advised that Taste Tours Ltd may change or modify this privacy policy in the future based on changes to our services or advances in telecommunications technology.</p>
                        <p>The items outlined in this policy apply only to dealings between Taste Tours Ltd and its customers.</p>
                    </dd>
                    <hr>
                    <dt><h3>Inquires regarding personal information</h3></dt>
                    <dd>
                        <p>Please use the <a href="{% url 'contactus:email' %}">"contact us"</a> form<br>
                      </dd>
                </dl>
            </div>
        </div>
    </div><!-- wrapper -->
</div><!-- container -->

  <hr class="featurette-divider">
<!-- FOOTER -->
<div class="">
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2018 Taste Tours Ltd. &middot; <a href="{% url 'privacy' %}">Privacy</a> &middot; <a href="{% url 'terms' %}">Terms</a></p>
  </footer>
</div>

{% endblock content %}
