{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% block extra_head_tags %}
<title>Terms and Conditions | Taste Tours Tokyo</title>
<meta name="description" content="Details of our terms and conditions can be found
here. If you still have questions, please use the contact us form">
{% endblock %}

<div class="container terms">
  <h1>Terms and conditions</h1>
<dd>These Terms and Conditions contain legal obligations and Taste Tours Ltd encourages you to read them carefully.
  It is under these Terms and Conditions that bookings are made and accepted by Taste Tours Ltd.</dd>
  <dd>Unless otherwise stated, any purchases made through www.tastetourstokyo.com are subject to these Terms and Conditions.
  When a Customer makes a booking it will be deemed they have accepted the Terms and Conditions on behalf of all
  individuals included in the booking and consent to these Terms and Conditions by using www.tastetourstokyo.com.</dd>
  <dd>This will include the use of personal information provided during the booking process in accordance with the <a href="{% url 'privacy' %}">privacy</a> policy.</dd>
  <dd>No alterations or variations to these Terms and Conditions will be accepted unless agreed in writing by Taste Tours Ltd.</dd>
  <hr>
<dt><h3>Weather Related Tour Cancellations</h3></dt>
<dd>Our tours go ahead in rain or shine.
  However, Japan does on occation experience servere weather.</dd>
  <dd>If such incidents occur, and customer safety is deemed at risk, we reserve the right to cancel a tour.</dd>
   <dd>If Taste Tours Ltd cancels a tour, refunds will be automatically applied to affected parties
   and cancellation email notifications will be sent.</dd>
   <hr>
<dt><h3>Accident or Loss</h3></dt>
<dd>Please take care of all personal property.
  Japan is well known for being a safe and law-abiding society, however, we advise vigilance at all times.</dd>
  <dd>Taste Tours Ltd cannot accept liability for any theft, loss, damage, delay, inconvenience,
  direct or consequential loss, unless caused by direct negligence by Taste Tours Ltd,
  in which case our liability is limited (excluding death or personal injury)
  to damages up to a maximum of the ticket price.</dd>
  <hr>
<dt><h3>Personal Safety</h3></dt>
<dd>Each Customer is responsible for maintaining their safety at all times.
  By agreeing to take part on the tour, all Customers are agreeing to pay attention to the safety instructions given by the Guide
  and to exercise due care and attention whilst walking.</dd>
  <hr>
<dt><h3>Customer Conduct and Safety</h3></dt>
<dd>Taste Tours Ltd reserve the right to remove any person
  from a tour if the Taste Tours Ltd Guide deems the persons conduct to be
  offensive or a nuisance to other Customers or locals.</dd>
  <dd>Taste Tours Ltd also reserves
  the right to refuse access to participate on a particular tour should circumstances
  be deemed to compromise tour safety.</dd>
  <hr>
<div>
<dt><h3>Tickets</h3></dt>
<dt><span>Prices</span></dt>
<dd>The prices appearing on the website are the current rates and can change without prior notification.</dd>
<dd>Once a Customer has booked a tour with Taste Tours Ltd, the Customer will not be asked to pay any difference
  in the event of a price increase and Taste Tours Ltd will not refund the balance of any price reduction.</dd>
  <dd>All prices are per person unless otherwise stated.</dd>

<dt><span>Ticket Validity</span></dt>
<dd>Customers must bring their valid e-ticket to the tour.
  The Tour Guide will have a list of people who are expected, your ticket will be required to confirm identity.</dd>
  <dd>Your e-ticket entitles the named Customer and party (if applicable) to join the tour on the date specified only.</span></div>
<dt><span>Cancellations by Customers</span></dt>
<dd>It is possible to cancel bookings up to 72 hours prior to the tour.
This can be done using the email used in the booking though the booking pages of our website.</dd>

<dt><span>Cancellations by Taste Tours Ltd</span></dt>
<dd>In the unlikely event of a tour being cancelled we will offer an
  alternative tour date or a full refund.</dd>
<hr>
<dt><h3>Arriving late for a tour</h3></dt>
<dd>The tour will start at the time stated at the meeting point specified.
  We are unable to offer refunds to people who miss the tour because they are late.</dd>
<hr>
<dt><h3>Refunds</h3></dt>
<dd>If you are not happy with the tour and would like to request a refund,
  please state your reasons clearly using the <a href="{% url 'contactus:email' %}">"contact us"</a> form. Refunds will not be possible in cases where a Customer has
  failed to turn up for their tour at the designated time and meeting point.</dd>

</div>

  <hr class="featurette-divider">
<!-- FOOTER -->
<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2018 Taste Tours Ltd. &middot; <a href="{% url 'privacy' %}">Privacy</a> &middot; <a href="{% url 'terms' %}">Terms</a></p>
</footer>

{% endblock content %}
