{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <br><br><br><br>
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              {% block blogcontent %}

              {% endblock blogcontent %}
          </div>
          <div class="col-md-4 jumbotron">
              <h4>Blog Highlights</h4>

              {% for post in posts %}
              {% if post.highlight is True %}
              <ul>
                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
              </ul>
              {% endif %}
              {% endfor %}



              <br><br>
              <hr>
              <h4>Archive</h4>
              <a href="#"></a>
              <br><br>
              <hr>
              <h4>Keep in touch</h4>
              <p><a href="{% url "blog:post_feed" %}" data-toggle="tooltip" target="_blank" title="This may require a plugin for Chrome, please select a compatable browser"><i class="fas fa-rss fa-lg"></i> Subscribe to RSS Feed</a></p>
              <a href="https://twitter.com/tastetourstokyo?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @tastetourstokyo</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              <hr>
              <a class="twitter-timeline" href="https://twitter.com/tastetourstokyo?ref_src=twsrc%5Etfw">Tweets by tastetourstokyo</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
      </div>
  </div>
</body>

{% endblock content %}
