/* taken from bootstrap4 carousel template */

/* .colourme {
  color:#6CACE4;
} */
font-family: 'Roboto', sans-serif;



/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* dropdowm toggle */

.container .dropdown .dropdown-menu a:hover
{
  color: #fff;
  background-color: #a6c;
  border-color: #fff;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  }
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 7rem;
  text-shadow: 0 2px 5px rgba(0,0,0,.6);

}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #6EC6FF;
}
.carousel-item > img {
  z-index: 20;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  }

.carousel .carousel-control-next-icon,.carousel .carousel-control-prev-icon{
  width:36px;height:36px;
  }

.carousel .carousel-control-prev-icon{
  background-image:url("/static/images/arrow_left.svg")
  }
/* url("/static/images/svg/arrow_left.svg") */
.carousel .carousel-control-next-icon{
  background-image:url("/static/images/arrow_right.svg")
  }

.carousel .carousel-indicators li{
  max-width:10px;
  height:10px;
  border-radius:50%;
  cursor:pointer;
  }

.carousel .video-fluid{
  height:100%;
  width:100%;
  }

.carousel-fade .carousel-item{
  opacity:0;
  -webkit-transition-duration:.6s;
  transition-duration:.6s;
  -webkit-transition-property:opacity;
  transition-property:opacity;
  }

.carousel-fade .carousel-item-next.carousel-item-left,.carousel-fade .carousel-item-prev.carousel-item-right,.carousel-fade .carousel-item.active{
  opacity:1;
  }

.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-right{
  opacity:0;
  }

.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-prev,.carousel-fade .carousel-item-next,.carousel-fade .carousel-item-prev,.carousel-fade .carousel-item.active{
  -webkit-transform:translateX(0);
  -ms-transform:translateX(0);
  transform:translateX(0);
  }

@supports (transform-style:preserve-3d){
  .carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-prev,.carousel-fade .carousel-item-next,.carousel-fade .carousel-item-prev,.carousel-fade .carousel-item.active{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)}
  }

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 40px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
/* below code from original django-cookiecutter */

/* These styles are generated from project.scss. */

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* Display django-debug-toolbar.
   See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
   and https://github.com/pydanny/cookiecutter-django/issues/317
*/
[hidden][style="display: block;"] {
  display: block !important;
}

/* material design CSS components taken from color tool via code pen */
/* .mdc-components {
  box-sizing: border-box;
  display: flex;
  font-family: Roboto;
  margin: 64px auto;
  width: 1664px;
}
.mdc-components__section {
  display: flex;
}
.mdc-components__column {
  display: flex;
  height: 664px;
  flex-direction: column;
  margin: 0 8px;
  width: 400px;
}
.mdc-components .flex {
  flex: 1;
  box-sizing: border-box;
}
.mdc-components p {
  color: #616161;
  font-size: 14px;
  font-weight: bold;
}

.mdc-component > p {
  color: #616161;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 0;
}
.mdc-component__section {
  align-items: center;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  height: 400px;
  position: relative;
  overflow: hidden;
  width: 400px;
}
.mdc-component__section--size-narrow {
  height: 152px;
}
.mdc-component__section__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px;
}
.mdc-component__section__content__frame {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.mdc-component__section--size-full {
  height: 620px;
}
.mdc-component__containers {
  align-items: flex-start;
  display: flex;
  height: 292px;
  flex-direction: row;
}
.mdc-component__containers__primary__only p {
  display: none;
}
.mdc-component__containers__primary, .mdc-component__containers__secondary {
  display: flex;
  align-items: center;
}
.mdc-component__containers__primary > p, .mdc-component__containers__secondary > p {
  color: #616161;
  font-size: 11px;
  font-weight: bold;
}
.mdc-component__containers__primary__only {
  margin-top: 40px;
}
.mdc-component__containers__secondary {
  margin-left: 80px;
}
.mdc-component__containers__primary, .mdc-component__containers__secondary {
  flex-direction: column;
}
.mdc-component__containers__primary > p, .mdc-component__containers__secondary > p {
  margin: 25px 0 15px;
}
.mdc-component__containers__primary > *[class^="mdc-"]:not(:nth-child(2)), .mdc-component__containers__secondary > *[class^="mdc-"]:not(:nth-child(2)) {
  margin-top: 40px;
}
.mdc-component__containers[dir-horizontal] {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mdc-component__containers[dir-horizontal] .mdc-component__containers__primary__only {
  margin-top: 0;
}
.mdc-component__containers[dir-horizontal] .mdc-component__containers__secondary {
  margin-left: 0;
  margin-top: 12px;
}
.mdc-component__containers[dir-horizontal] .mdc-component__containers__primary, .mdc-component__containers[dir-horizontal] .mdc-component__containers__secondary {
  flex-direction: row;
}
.mdc-component__containers[dir-horizontal] .mdc-component__containers__primary > p, .mdc-component__containers[dir-horizontal] .mdc-component__containers__secondary > p {
  margin: 0 16px 0 0;
  text-align: right;
  width: 60px;
}
.mdc-component__containers[dir-horizontal] .mdc-component__containers__primary > *[class^="mdc-"], .mdc-component__containers[dir-horizontal] .mdc-component__containers__secondary > *[class^="mdc-"] {
  margin-top: 0;
  margin-right: 60px;
}
*, :after, :before {
  box-sizing: inherit;
}
@media all and (max-width: 1712px) {
  .mdc-components {
    margin: 32px auto;
    width: 832px;
  }
  .mdc-components__section {
    flex-direction: column;
  }
  .mdc-components__column {
    margin-bottom: 64px;
  }
}
@media all and (max-width: 880px) {
  .mdc-components {
    flex-direction: column;
    width: 416px;
  }
}

    .mdc-component__buttons .mdc-component__containers__primary .mdc-button,
    .mdc-component__buttons .mdc-component__containers__primary .mdc-fab {
      background-color: #2196F3;
      color: #000000;
    }

    .mdc-component__buttons .mdc-component__containers__primary .mdc-button--plain,
    .mdc-component__buttons .mdc-component__containers__primary .mdc-fab--plain {
      background-color: transparent;
      color: #2196F3;
    }

    .mdc-component__buttons .mdc-component__containers__secondary .mdc-button,
    .mdc-component__buttons .mdc-component__containers__secondary .mdc-fab {
      background-color: #ffb1bb;
      color: #000000;
    }

    .mdc-component__buttons .mdc-component__containers__secondary .mdc-button--plain,
    .mdc-component__buttons .mdc-component__containers__secondary .mdc-fab--plain {
      background-color: transparent;
      color: #ffb1bb;
    }

    .mdc-component__buttons .mdc-component__containers__primary .mdc-button--raised.mdc-ripple-upgraded::before,
    .mdc-component__buttons .mdc-component__containers__primary .mdc-button--raised.mdc-ripple-upgraded::after {
      background-color: rgba(0, 0, 0, 0.06);
    }

    .mdc-component__buttons .mdc-component__containers__primary .mdc-button--plain.mdc-ripple-upgraded::before,
    .mdc-component__buttons .mdc-component__containers__primary .mdc-button--plain.mdc-ripple-upgraded::after {
      background-color: rgba(33, 150, 243, 0.06);
    }

    .mdc-component__buttons .mdc-component__containers__primary .mdc-fab.mdc-ripple-upgraded::after {
      background-color: rgba(0, 0, 0, 0.16);
    }

    .mdc-component__buttons .mdc-component__containers__primary .mdc-fab--plain.mdc-ripple-upgraded::after {
      background-color: rgba(33, 150, 243, 0.16);
    }

    .mdc-component__buttons .mdc-component__containers__secondary .mdc-button--raised.mdc-ripple-upgraded::before,
    .mdc-component__buttons .mdc-component__containers__secondary .mdc-button--raised.mdc-ripple-upgraded::after {
      background-color: rgba(0, 0, 0, 0.06);
    }

    .mdc-component__buttons .mdc-component__containers__secondary .mdc-button--plain.mdc-ripple-upgraded::before,
    .mdc-component__buttons .mdc-component__containers__secondary .mdc-button--plain.mdc-ripple-upgraded::after {
      background-color: rgba(255, 177, 187, 0.06);
    }

    .mdc-component__buttons .mdc-component__containers__secondary .mdc-fab.mdc-ripple-upgraded::after {
      background-color: rgba(0, 0, 0, 0.16);
    }

    .mdc-component__buttons .mdc-component__containers__secondary .mdc-fab--plain.mdc-ripple-upgraded::after {
      background-color: rgba(255, 177, 187, 0.16);
    }

  .mdc-component__selection .mdc-component__containers__primary__only .mdc-snackbar {
    transform: translate(-50%,-100%);
  }

  .mdc-component__selection .mdc-snackbar {
    left: auto !important;
    transform: translate(-28%,-164%);
    position: absolute;
    min-width: 240px;
    margin-left: -16px;
    width: 240px;
  }

  .mdc-component__selection .mdc-snackbar__secondary {
    transform: translate(-28%,-40%);
  }

  .mdc-component__selection .mdc-snackbar__text,
  .mdc-component__selection .mdc-snackbar__action-button {
    opacity: 1;
    font-size: 12px;
  }

    .mdc-component__switches .mdc-component__containers__primary .mdc-checkbox__native-control:checked:not(:disabled) ~ .mdc-checkbox__background,
    .mdc-component__switches .mdc-component__containers__primary .mdc-checkbox__native-control:indeterminate:not(:disabled) ~ .mdc-checkbox__background,
    .mdc-component__switches .mdc-component__containers__primary .mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__inner-circle {
      background-color: #2196F3;
      border-color: #2196F3;
    }

    .mdc-component__switches .mdc-component__containers__primary .mdc-switch__native-control:checked~.mdc-switch__background::before,
    .mdc-component__switches .mdc-component__containers__primary .mdc-switch__native-control:checked~.mdc-switch__background .mdc-switch__knob::before,
    .mdc-component__switches .mdc-component__containers__primary .mdc-switch__native-control:checked~.mdc-switch__background .mdc-switch__knob {
      background-color: #2196F3;
    }

    .mdc-component__switches .mdc-component__containers__primary .mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__outer-circle {
      border-color: #2196F3;
    }

    .mdc-component__switches .mdc-component__containers__primary .mdc-checkbox__background::before,
    .mdc-component__switches .mdc-component__containers__primary .mdc-radio__background::before {
      background-color: #2196F3;
    }

    .mdc-component__switches .mdc-component__containers__secondary .mdc-checkbox__native-control:checked:not(:disabled) ~ .mdc-checkbox__background,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-checkbox__native-control:indeterminate:not(:disabled) ~ .mdc-checkbox__background,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__inner-circle {
      background-color: #ffb1bb;
      border-color: #ffb1bb;
    }

    .mdc-component__switches .mdc-component__containers__secondary .mdc-switch__native-control:checked~.mdc-switch__background::before,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-switch__native-control:checked~.mdc-switch__background .mdc-switch__knob::before,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-switch__native-control:checked~.mdc-switch__background .mdc-switch__knob {
      background-color: #ffb1bb;
    }

    .mdc-component__switches .mdc-component__containers__secondary .mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__outer-circle {
      border-color: #ffb1bb;
    }

    .mdc-component__switches .mdc-component__containers__secondary .mdc-checkbox__background::before,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-radio__background::before {
      background-color: #ffb1bb;
    }

    .mdc-component__switches .mdc-component__containers__primary .mdc-checkbox.mdc-ripple-upgraded--unbounded::before,
    .mdc-component__switches .mdc-component__containers__primary .mdc-checkbox.mdc-ripple-upgraded--unbounded::after,
    .mdc-component__switches .mdc-component__containers__primary .mdc-radio.mdc-ripple-upgraded--unbounded::before,
    .mdc-component__switches .mdc-component__containers__primary .mdc-radio.mdc-ripple-upgraded--unbounded::after {
      background-color: rgba(33, 150, 243, 0.14);
    }

    .mdc-component__switches .mdc-component__containers__secondary .mdc-checkbox.mdc-ripple-upgraded--unbounded::before,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-checkbox.mdc-ripple-upgraded--unbounded::after,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-radio.mdc-ripple-upgraded--unbounded::before,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-radio.mdc-ripple-upgraded--unbounded::after {
      background-color: rgba(255, 177, 187, 0.14);
    }

  .mdc-component__cards .mdc-card {
    background-color: #ffffff;
    height: 316px;
    width: 262px;
  }

  .mdc-component__cards .mdc-card__title,
  .mdc-component__cards .mdc-card__subtitle {
    font-size: 11px;
    line-height: 17px;
  }

  .mdc-component__cards .mdc-card__subtitle {
    color: #707070;
  }

  .mdc-component__cards .mdc-card__header {
    align-items: center;
    display: flex;
    height: 40px;
    padding: 0 16px 20px;
  }

  .mdc-component__cards .demo-card__avatar {
    background: #bdbdbd;
    height: 40px;
    width: 40px;
    margin-right: 12px;
    border-radius: 50%;
  }

  .mdc-component__cards .mdc-card__supporting-text {
    font-size: 10px;
  }

  .mdc-component__cards .demo-card--with-avatar .mdc-card__title,
  .mdc-component__cards .demo-card--with-avatar .mdc-card__subtitle {
    margin-left: 56px;
  }

  .mdc-component__cards .mdc-card__actions {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px 16px 16px;
  }

  .mdc-component__cards .mdc-card__media {
    height: 140px;
    overflow: hidden;
    padding: 0
  }

  .mdc-component__cards .mdc-card__media .material-image {
    top: 64px;
    position: relative;
  }

  .mdc-component__cards .mdc--theme-primary {
    background-color: #2196F3;
    color: #000000;
  }

  .mdc-component__cards .mdc--theme-secondary {
    background-color: #ffb1bb;
    color: #000000;
  }

  .mdc-component__cards .material-image .material-image__background {
    fill: #0069c0;
  }

  .mdc-component__cards .material-image .material-image--shape-circle,
  .mdc-component__cards .material-image .material-image--shape-triangle {
    fill: #2196F3;
  }

  .mdc-component__cards .material-image .material-image--shape-intersection {
    fill: #0069c0;
  }

  .mdc-component__cards .mdc-button--raised.mdc--theme-primary.mdc-ripple-upgraded::after {
    background-color: rgba(0, 0, 0, 0.06);
  }

  .mdc-component__cards .mdc-button--raised.mdc--theme-secondary.mdc-ripple-upgraded::after {
    background-color: rgba(0, 0, 0, 0.06);
  }

  .mdc-component__menu .mdc-toolbar {
    background-color: #ffb1bb;
    z-index: 1;
  }

  .mdc-component__menu .mdc-toolbar {
    height: 56px;
    padding: 16px;
  }

  .mdc-component__menu .mdc-permanent-drawer {
    border-right: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 3;
  }

  .mdc-component__menu .mdc-backdrop {
    background-color: rgba(0, 0, 0, .50);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .mdc-component__menu .nav-header {
    height: 140px;
    position: relative;
    overflow: hidden;
  }

  .mdc-component__menu .nav-header .material-image {
    position: relative;
    top: -50px;
  }

  .mdc-component__menu .mdc-permanent-drawer {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .mdc-component__menu .mdc-list-item {
    font-weight: 400;
  }

  .mdc-component__menu .mdc-list-item.mdc-ripple-upgraded {
    left: 0;
  }

  .mdc-component__menu .mdc-list-item.mdc-ripple-upgraded::before,
  .mdc-component__menu .mdc-list-item.mdc-ripple-upgraded::after {
    background-color: rgba(33, 150, 243, 0.06);
  }

  .mdc-component__menu .mdc-permanent-drawer .mdc-permanent-drawer--selected::before,
  .mdc-component__menu .mdc-permanent-drawer .mdc-list-item:active::before {
    background-color: #2196F3;
    opacity: .16;
  }

  .mdc-component__menu .mdc-permanent-drawer--selected.mdc-list-item .mdc-list-item__start-detail,
  .mdc-component__menu .mdc-permanent-drawer .mdc-permanent-drawer--selected {
    color: inherit;
  }

  .mdc-component__menu .material-image__background {
    fill: #0069c0;
  }

  .mdc-component__menu .material-image--shape-circle,
  .mdc-component__menu .material-image--shape-triangle {
    fill: #2196F3;
  }

  .mdc-component__menu .material-image--shape-intersection {
    fill: #0069c0;
  }

  .mdc-component__textfield .mdc-component__containers {
    margin-top: 40px;
  }

  .mdc-component__textfield .mdc-component__containers__secondary {
    padding: 17px 0;
  }

  .mdc-component__textfield .mdc-component__containers p {
    padding-bottom: 20px;
  }

  .mdc-component__textfield .mdc-textfield {
    margin-right: 14px !important;
  }

  .mdc-component__textfield .mdc-textfield__input {
    width: 264px;
  }

  .mdc-component__textfield .mdc-textfield__label {
    bottom: 12px;
  }

  .mdc-component__textfield .mdc-textfield--theme-primary .mdc-textfield__label {
    color: #2196F3;
  }

  .mdc-component__textfield .mdc-textfield--theme-primary .mdc-textfield:not(.mdc-textfield--upgraded) .mdc-textfield__input:focus {
    border-color: #2196F3;
  }

  .mdc-component__textfield .mdc-textfield--theme-secondary .mdc-textfield__label {
    color: #ffb1bb;
  }

  .mdc-component__textfield .mdc-textfield--theme-secondary .mdc-textfield:not(.mdc-textfield--upgraded) .mdc-textfield__input:focus {
    border-color: #ffb1bb;
  }

  .mdc-component__toolbar .app-bar {
    background-color: #0069c0;
    display: block;
    height: 20px;
    width: 100%;
  }

  .mdc-component__toolbar .mdc-toolbar {
    height: 56px;
    padding: 16px;
    flex-direction: row;
    align-items: center;
  }

  .mdc-component__toolbar .mdc-toolbar__section {
    align-items: center;
  }

  .mdc-component__toolbar .mdc-toolbar__title {
    padding-left: 8px;
  }

  .mdc-component__toolbar .material-icons {
    color: #000000;
  }

  .mdc-component__toolbar .material-image {
    position: relative;
    top: -64px;
  }

  .mdc-component__toolbar main {
    background-color: white;
    height: calc(100% - 48px);
  }

  .mdc-component__toolbar .cover-image__frame {
    display: block;
    height: 220px;
    position: relative;
    width: 100%;
  }

  .mdc-component__toolbar .cover-image {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .mdc-component__toolbar .mdc-fab {
    position: absolute;
    bottom: -25px;
    right: 28px;
  }

  .mdc-component__toolbar .content {
    font-size: 13px;
    line-height: 20px;
    padding: 50px 35px;
  }

  .mdc-component__toolbar .mdc-component__section__content__frame::before {
    bottom: 0;
    content: "";
    background-image: url(//storage.googleapis.com/demos-in-spec/images/android-bottom.png);
    background-repeat: no-repeat;
    height: 48px;
    position: absolute;
    width: 100%;
    z-index: 9999999;
  }

  .mdc-component__toolbar .mdc--theme-primary {
    background-color: #2196F3;
    color: #000000;
  }

  .mdc-component__toolbar .mdc--theme-secondary {
    background-color: #ffb1bb;
    color: #000000;
  }

  .mdc-component__toolbar .material-image .material-image__background {
    fill: #ca818b;
  }

  .mdc-component__toolbar .material-image .material-image--shape-circle,
  .mdc-component__toolbar .material-image .material-image--shape-triangle {
    fill: #ffe3ed;
  }

  .mdc-component__toolbar .material-image .material-image--shape-intersection {
    fill: #ca818b;
  }

  .mdc-component__toolbar .mdc-icon-toggle::before,
  .mdc-component__toolbar .mdc-icon-toggle::after {
    background-color: rgba(0, 0, 0, 0.06);
  }

  .mdc-component__toolbar .mdc-fab.mdc--theme-primary.mdc-ripple-upgraded::after {
    background-color: rgba(0, 0, 0, 0.16);
  }

  .mdc-component__toolbar .mdc-fab.mdc--theme-secondary.mdc-ripple-upgraded::after {
    background-color: rgba(0, 0, 0, 0.16);
  } */


/* MANAGE JUMBOTRON AND ADVENTUROUS CAROUSEL ON MOBILE */
.jumbowrap {
  word-wrap: break-word;
}

/* GOOGLE MAPS CSS */
/* .modal {
    display: none; /* Hidden by default */
    /* position: fixed; /* Stay in place front is invalid - may break your css so removed */
    /* padding-top: 100px; /* Location of the box - don't know what this does?  If it is to move your modal down by 100px, then just change top below to 100px and remove this*/
    /* left: 0;
    right:0; /* Full width (left and right 0) */
    /* top: 0;
    bottom: 0; /* Full height top and bottom 0 */
    /* overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); /* Fallback color */
    /* background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* z-index: 9999; /* Sit on top - higher than any other z-index in your site*/
/* } */

/* CHERRY BLOSSOM animation */
