{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

{% block extra_head_tags %}
<title>Tokyo street food tour – Guided Walking | Taste Tours Tokyo</title>
<meta name="description" content="Edo Outpost – popular street food tour of
Togoishi Ginza. See how Japanese culture is reflected in the delicious, yet
simple food. Book to enrich your trip.">
{% endblock %}


<br>
<body>

<main>
{% comment %} youtube video {% endcomment %}
<br>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item"
  src="https://www.youtube-nocookie.com/embed/d9jGq0HoWn8?rel=0&showinfo=0&color=white"
  allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
{% comment %} ?rel=0&showinfo=0&color=white in the youtube link is used to remove the related videos at the end of the clip {% endcomment %}
<!--Main layout-->

        <!--/.Product-->

        <!--Info-->
        <div class="col-lg-12">

            <!--First row-->
            <div class="row wow fadeIn" data-wow-delay="0.4s">
                <div class="col-md-12 col-lg-12 col-md-12">
                    <!--Product-->
                    <div class="product-wrapper">

                        <!--Product data-->
                        {% comment %} <h3 class="h3-responsive mt-4 font-bold">Edo Outpost</h3> {% endcomment %}
                        <hr>
                        <div class="">
                          <h1>Edo Outpost - Walking street food tour - Togoshi Ginza</h1>

                        </div>
                        <hr>


                        <dl class="row mt-4">


                            <dt class="col-sm-3">Decription</dt>
                            <dd class="col-sm-9">Street food at it's best.
                              Togoshi Ginza is a popular shopping road where
                              "Tokyoites" come to shop and eat.
                              <br>
                              Sample a minimum of 6 different items of the most
                              popular and seasonal street food on offer.
                              <br>
                              This area specialises in the finest "Karaage" (fried chicken).</dd>
                            {% comment %} <dd class="col-sm-9 offset-sm-3">Donec id elit non mi porta gravida at eget metus.</dd> {% endcomment %}
                            <dt class="col-sm-3">Tour Type</dt>
                            <dd class="col-sm-9">Walking Tour</dd>

                            <dt class="col-sm-3">Tour Details</dt>
                            <dd class="col-sm-9">Start Time: 14:00<br>
                              Duration: 2.5 to 3 hours</dd>

                            <dt class="col-sm-3">Walking distance</dt>
                            <dd class="col-sm-9">Estimated: 1.25 miles | 2 km | Moderate level of fitness required</dd>

                            <dt class="col-sm-3">Meeting point</dt>
                            <dd class="col-sm-9">Togoshi Ginza Train Station (Tokyu Ikegami Line)<br>
                            Outside platform 1 (going in the direction of Kamata Station)<br>
                            <a class="location" href="https://map.what3words.com/pasting.lush.remake">Link to meeting point</a></dd>

                            <dt class="col-sm-3">Children</dt>
                            <dd class="col-sm-9">Children are welcome, please note we do not sell "children" tickets as they come in all shapes and appetites. We recommend sharing a single ticket between two children, but you will know your children much better than we do!</dd>
                        </dl>
                          <hr>
                        <h3>
                            <span class="font-bold">All Inclusive - only ¥5,999
                              <span class="text-muted">per person</span>
                              <a href='https://tickets.tastetourstokyo.com/edooutpost/' class="btn btn-success btn-md">Book Now</a></span>

                        </h3>


                    </div>
                    <!--Product-->

                </div>
            </div>
            <!--/.First row-->

        </div>
        <!--/.Info-->

        <!--Reviews - to be linked to another source potentially-->
        {% comment %} <div class="col-lg-12">

            <!--Grid row-->
            <div class="row mt-5">

                <!--Heading-->
                <div class="col reviews wow fadeIn" data-wow-delay="0.4s">
                    <h2 class="h2-responsive font-bold">Reviews</h2>
                </div>

                <!--First review-->
                <div class="media wow fadeIn" data-wow-delay="0.2s">
                    <a class="media-left" href="#">
                        <img class="rounded-circle ml-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-7.jpg" alt="Generic placeholder image">
                    </a>
                    <div class="media-body ml-4">
                        <h4 class="media-heading font-bold dark-grey-text">John Doe</h4>
                        <ul class="rating inline-ul list-unstyled">
                            <li>
                                <i class="fa fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fa fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fa fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fa fa-star grey-text"></i>
                            </li>
                            <li>
                                <i class="fa fa-star grey-text"></i>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure
                            soluta. Quasi mollitia maxime nemo quam accusamus possimus, voluptatum expedita assumenda.
                            Earum sit id ullam eum vel delectus!</p>
                    </div>
                </div>

                <!--Second review-->
                <br>
                <div class="media wow fadeIn" data-wow-delay="0.2s">
                    <a class="media-left" href="#">
                        <img class="rounded-circle ml-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="Generic placeholder image">
                    </a>
                    <div class="media-body ml-4">
                        <h4 class="media-heading font-bold dark-grey-text">Maria Casie</h4>
                        <ul class="rating inline-ul list-unstyled">
                            <li>
                                <i class="fa fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fa fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fa fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fa fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fa fa-star blue-text"></i>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure
                            soluta. Quasi mollitia maxime nemo quam accusamus possimus, voluptatum expedita assumenda.
                            Earum sit id ullam eum vel delectus!</p>
                    </div>
                </div>

                <!--Second review-->
                <br>
                <div class="media wow fadeIn" data-wow-delay="0.2s">
                    <a class="media-left" href="#">
                        <img class="rounded-circle ml-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg" alt="Generic placeholder image">
                    </a>
                    <div class="media-body ml-4">
                        <h4 class="media-heading font-bold dark-grey-text">Kate Snow</h4>
                        <ul class="rating inline-ul list-unstyled">
                            <li>
                                <i class="fa fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fa fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fa fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fa fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fa fa-star grey-text"></i>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure
                            soluta. Quasi mollitia maxime nemo quam accusamus possimus, voluptatum expedita assumenda.
                            Earum sit id ullam eum vel delectus!</p>
                    </div>
                </div>

            </div>
            <!--/.Grid row-->

        </div>
        <!--/.Reviews-->

    </div>
</div> {% endcomment %}
<!--/.Main layout-->

</main>


{% endblock content %}
